ChatMsg {
    background: $boost;
    margin-bottom: 1;
}
#user-msg {
    width: 100%;
    text-align: right;
    align: right middle;
    height: auto;
}
#gpt-msg {
    width: 100%;
    text-align: left;
    align: left middle;
    height: auto;
}

#msg-username {
    text-style: bold;
}

#chat-row {
    width: 100%;
    height: auto;
    padding-left: 2;
    padding-right: 2;
    padding-top: 1;
    padding-bottom: 1;
}